@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
      url("../fonts/NotoSans-Regular.woff2") format("woff2"),
      url("../fonts/NotoSans-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src:
      url("../fonts/NotoSans-Italic.woff2") format("woff2"),
      url("../fonts/NotoSans-Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src:
      url("../fonts/NotoSans-Medium.woff2") format("woff2"),
      url("../fonts/NotoSans-Medium.woff") format("woff");
  }
  
  @font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src:
      url("../fonts/NotoSans-SemiBold.woff2") format("woff2"),
      url("../fonts/NotoSans-SemiBold.woff") format("woff");
  }
  
  body {
    font-family: "Noto Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: #444240;
    min-width: 1280px;
  }
  
  .container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
  }
  
  .news {
    padding: 40px 0;
  }
  
  .news-wrapper {
    display: flex;
  }
  
  .news-text-column {
    flex: 0 0 calc(50% - 55px);
  }
  
  .section-title {
    margin: 40px 0;
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: #1B1A17;
  }
  .news p {
    margin-bottom: 27px;
  }
  
  .social {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .social-item {
    margin-right: 20px;
  }
  
  .social-item-link {
    font-size: 20px;
    color: #444240;
  }
  
  .social-item-link:hover {
    color: #35c4bc;
    transition: color 0.4s ease 0s;
  }
  
  .news-img-column {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    flex: 2;
    height: 470px;
  }
  
  .news-img {
    display: block;
    margin: 0 10px 10px 0;
  }
  
  .news-img:last-child {
    margin-right: 0;
  }